body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: url('../../assets/images/doodles.png');
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}


.display-3 {
  font-size: calc(1.2em + 3vw);
  font-family: 'Bungee Outline', cursive;
  color: rgb(63, 96, 57);
  text-shadow: 1px 1px 10px rgb(203, 198, 168);
}

.jumbotron {
  text-align: center;
  background-color: rgba(168, 173, 203, .7);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid rgb(112,128,144);
}

.description{
  white-space: pre-wrap;
}

.block-template {
  display:none;
}

.time-block{
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  margin: 0 auto;
}

.input-group-text {
  border: none;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0rem !important;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  width: 100px;
  background-color: rgb(168, 173, 203);
}

.hour-text{
  justify-content: flex-end;
}

.input-group-lg {
  height: auto;
}

.past {
  background-color: #d3d3d3;
  color: gray;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: #b02b29;
}

.save-btn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(168, 173, 203);
  color: white;
  text-align: center;
}

.save-btn i:hover {
  transition: all .3s ease-in-out;
}

.fas {
  font-weight: 500;
}

.container hr{
  margin-top: 0;
  border-top: dashed 1px;
}

footer {
  margin-bottom: 10px;
  height: 10px;
  border-radius: 0;
  border-top: 10px solid rgb(112,128,144)
}